<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812798582481-9dmijgvqrl2t69vj363cavh17j2kv9cc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812798582481-9dmijgvqrl2t69vj363cavh17j2kv9cc</string>
	<key>API_KEY</key>
	<string>AIzaSyCSMCsSMMzOJj2dVKgVrvC-aY2VL-dRIC0</string>
	<key>GCM_SENDER_ID</key>
	<string>812798582481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bnotes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bthloobotes</string>
	<key>STORAGE_BUCKET</key>
	<string>bthloobotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812798582481:ios:c017f82369d23382c2eff0</string>
</dict>
</plist>